<mat-toolbar color="primary">
  <mat-toolbar-row>

    <img src="assets/logo_wax.png" alt="Logo">
  <span class="spacer"></span>
  <mat-form-field>
    <input matInput placeholder="Search...">
  </mat-form-field>

    <button mat-icon-button routerLink="/checkout">
      <mat-icon matBadge="{{cartProductsLength$ | async}}" matBadgeColor="warn">shopping_cart</mat-icon>
      <span class="cdk-visually-hidden">
        Number of products
    </span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
